* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/* @font-face {
  font-family: "GT Pressura Regular";
  src: url(https://db.onlinewebfonts.com/c/2ea3b87b231d6d46708c756a0e04610e?family=GT+Pressura+Regular);
} */

header{
    height: 10%;
    width: 100%;
    background-color: #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: fixed;
    z-index: 99;
    font-family: "GT Pressura Regular";
    text-transform:uppercase;
    transition: all ease 1s;

}

.left{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap:100px;
}

.right{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.overlay-container{
  height: 100%;
  width: 100%;
  background-color:#E4E4E4;
  position: fixed;
  overflow: hidden;
}

.overlay{
  height: 160%;
  width: 210%;
  position: fixed;
  left:-60%;
  top:-150%;
  background-color: #FAFAFA;
  transition: all ease 1s;
  /* transition: cubic-bezier(.05,.78,.9,.59)0.5s; */
}

header p{
  font-weight: 200;
  cursor: pointer;
  position: relative;
}

.line{
  position: relative;
}

header p::after{
  content: "";
  position: absolute;
  left:0px;
  bottom:-2px;
  width: 0;
  height: 2px;
  background-color: black;
  transition:all ease 0.5s;
}

header p:hover::after{
  width: 100%;
}